<div id="{{ include.id }}" class="category level-{{ include.level }}">
	<div class="container">
		{% assign header_number = include.level | to_i | plus: 1 %}
		{% assign header_tag = "h" | append: header_number %}
		<{{ header_tag }} class="category-title">
			<div class="category-title-text">{{ include.name }}</div>
			<a class="category-title-anchor" href="#{{ include.id }}">
				<span class="material-symbols-outlined">link</span>
			</a>
		</{{ header_tag }}>
		<div class="category-content">
			<ul class="element-list">
				{% for element in include.elements %}
				<li class="element-list-item">
					{%
						include_relative _includes/element.html
						element=element
					%}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
