<div id="{{ include.id }}" class="category level-{{ include.level }}">
	<div class="container">
		<div class="category-title">
			{% assign header_number = include.level | to_i | plus: 1 %}
			{% assign header_tag = "h" | append: header_number %}
			<{{ header_tag }}><a href="#{{ include.id }}">{{ include.name }}</a></{{ header_tag }}>
		</div>
		<div class="category-content">
			<ul class="element-list">
				{% for element in include.elements %}
				<li>
					{%
						include_relative _includes/element.html
						element=element
					%}
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
