{% assign releases = "4.3, 4.2, 4.1, 4.0, 3.5" | split: ", " %}

<nav class="releases-menu">
	<ul class="releases-list container">
		<li class="releases-list-item">
			<span>Releases</span>
		</li>

		{% for release in releases %}
			<li class="releases-list-item">
				<a
					href="/releases/{{ release }}/"
					{% if page.version == release %}
					class="active"
					{% endif %}
				>
					<span>{{ release }}</span>
				</a>
			</li>
		{% endfor %}
	</ul>
</nav>

<style type="text/css">
@layer releases-menu {
	.releases-menu {
		position: sticky;
		background-color: var(--navbar-background-color);
		box-shadow: var(--base-shadow);
	}

	.releases-list {
		width: 100%;
	}

	.releases-list-item {
		margin: 0;
		padding: 0;
	}

	.releases-menu .releases-list a {
		padding: 0;
		margin: 0;
	}

	.releases-menu .releases-list a.active {
		border-bottom: 1px solid white;
	}
}
</style>
