---
---

// Reset
nav {
	width: unset;
	display: unset;
	justify-content: unset;
	align-items: unset;
	padding-right: unset;

	a {
		text-decoration: unset;
		font-size: unset;
		font-weight: unset;
		color: unset;
		padding: unset;
		font-family: unset;
		font-weight: unset;
		color: unset;
		margin-top: unset;

		&:hover {
			background-color: unset;
		}
	}

	ul {
		li {
			padding: unset;
			padding-top: unset;
			width: unset;
		}

		a {
			width: unset;
			display: unset;
			padding-top: unset;
			padding-bottom: unset;
			padding-left: unset;
			padding-right: unset;
			margin-top: unset;
			margin-bottom: unset;
		}
	}
}

// General
html {
	scroll-behavior: smooth;
	@media (prefers-reduced-motion) {
		scroll-behavior: auto;
	}
}

// Priorities container.
.priorities-container {
	font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: var(--card-background-color);
	overflow: hidden;

	.banner {
		.container {
			padding-top: 7rem;
			padding-bottom: 7rem;

			.last-updated {
				display: flex;
				flex-direction: row;

				.label {

				}
				.date {

				}
			}
		}
	}

	.intro {
		.wishlist-btns {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
		}
	}

	.navigation {
		li {
			margin-bottom: 0;
		}

		.navigation-list {
			padding-left: 0;
			margin-bottom: 0;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			gap: 1.5rem;

			> li {
				flex-grow: 1;
				width: 100%;
			}
		}
	}

	.priorities {
		.category {
			& > .container {
				.category-title {

				}

				.category-content {
					.element-list {
						padding-left: 0;
						margin-bottom: 0;

						> li {
							list-style: none;
						}

						.element {
							.element-title {

							}
							.element-content {

							}
						}
					}
				}
			}
		}
	}
}
