---
permalink: /priorities
title: "Priorities"
description: "Godot Priorities"
layout: default
---

{% include header.html %}

<link rel="stylesheet" href="/assets/css/priorities.css" />

<div class="priorities-container">
	<div class="banner">
		<div class="container">
			<h1>Priorities</h1>
			<div class="last-updated">
				<div class="label">Last updated</div>
				<div class="date">
					{% assign last_item_updated = site.priorities | sort: "last_updated" | last %}
					{% assign last_updated = last_item_updated.last_updated %}
					<time datetime="{{ last_updated }}">{{ last_updated }}</time>
				</div>
			</div>
		</div>
	</div>

	<div class="intro">
		<div class="container">
			<p class="wishlist-par">
				This page can be understood as a <strong>wishlist</strong>:
				it details the software improvements that we deem necessary to make the Godot Engine a better tool for its users.
				The bullet points were created by talking to the volunteer maintainers for each area about the current state of things,
				their personal goals, and what kind of contributions they are looking for.
			</p>
			<p class="wishlist-par">
				Please understand that as with any wishlist, these points are an idealized version of what is to come in the project’s future.
				To realize them, we will need the support from you, whether you are a representative for a company looking to invest into Godot
				or a game developer eager to contribute to the codebase directly. The Godot Engine has always been a <strong>community effort</strong> -
				there is only so much ground we can cover with Godot Foundation contractors at the moment.
			</p>
			<p class="wishlist-par">
				We hope that by publishing this list, we can align our communal efforts more easily: by showcasing which areas need to see
				improvements the most and what the concrete next steps would be for anyone taking action. Let this list be an indicator of…
			</p>
			<ol class="wishlist-list">
				<li>what kind of contractors we would like to hire if donations increase,</li>
				<li>what areas are ripe with good first issues for new contributors, and</li>
				<li>where corporate partners could lend a helping hand</li>
			</ol>
			<div class="wishlist-btns">
				<a href="https://fund.godotengine.org/">
					<div class="wishlist-btn-text">Donate to the Fund</div>
				</a>
				<a href="https://docs.godotengine.org/en/stable/contributing/how_to_contribute.html">
					<div class="wishlist-btn-text">How to contribute</div>
				</a>
				<a href="mailto:contact@godot.foundation">
					<div class="wishlist-btn-text">Contact the Foundation</div>
				</a>
			</div>
		</div>
	</div>

	<nav class="navigation">
		<div class="container">
			<ul class="navigation-list">
				<li>
					<div><a href="#core">Core</a></div>
					<ul class="navigation-sublist">
						<li><a href="#physics">Physics</a></li>
						<li><a href="#rendering">Rendering</a></li>
						<li><a href="#animation">Animation</a></li>
					</ul>
				</li>
				<li>
					<div><a href="#editor">Editor</a></div>
					<ul class="navigation-sublist">
						<li><a href="#assetio">Asset import & export</a></li>
					</ul>
				</li>
				<li>
					<div><a href="#platforms">Platforms</a></div>
					<ul class="navigation-sublist">
						<li><a href="#android">Android</a></li>
						<li><a href="#linuxbsd">Linux/BSDs</a></li>
						<li><a href="#macos">macOS</a></li>
						<li><a href="#web">Web</a></li>
						<li><a href="#xr">XR</a></li>
					</ul>
				</li>
				<li>
					<div><a href="#scripting">Scripting</a></div>
					<ul class="navigation-sublist">
						<li><a href="#gdscript">GDScript</a></li>
						<li><a href="#dotnet">.NET</a></li>
						<li><a href="#gdextension">GDExtension</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</nav>

	<div class="priorities">
		<!-- Core -->
		{% assign core_priorities = site.priorities | where: "category", "core" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="1"
			id="core"
			name="Core"
			elements=core_priorities
		%}

		<!-- :: Physics -->
		{% assign physics_priorities = site.priorities | where: "category", "physics" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="physics"
			name="Physics"
			elements=physics_priorities
		%}

		<!-- :: Rendering -->
		{% assign rendering_priorities = site.priorities | where: "category", "rendering" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="rendering"
			name="Rendering"
			elements=rendering_priorities
		%}

		<!-- :: Animation -->
		{% assign animation_priorities = site.priorities | where: "category", "animation" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="animation"
			name="Animation"
			elements=animation_priorities
		%}

		<!-- Editor -->
		{% assign editor_priorities = site.priorities | where: "category", "editor" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="1"
			id="editor"
			name="Editor"
			elements=editor_priorities
		%}

		<!-- :: Asset import & export -->
		{% assign assetio_priorities = site.priorities | where: "category", "assetio" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="assetio"
			name="Asset import &amp; export"
			elements=assetio_priorities
		%}

		<!-- Platforms -->
		{% assign platforms_priorities = site.priorities | where: "category", "platforms" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="1"
			id="platforms"
			name="Platforms"
			elements=platforms_priorities
		%}

		<!-- :: Android -->
		{% assign android_priorities = site.priorities | where: "category", "android" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="android"
			name="Android"
			elements=android_priorities
		%}

		<!-- :: Linux/BSDs -->
		{% assign linuxbsd_priorities = site.priorities | where: "category", "linuxbsd" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="linuxbsd"
			name="Linux/BSDs"
			elements=linuxbsd_priorities
		%}

		<!-- :: macOS -->
		{% assign macos_priorities = site.priorities | where: "category", "macos" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="macos"
			name="macOS"
			elements=macos_priorities
		%}

		<!-- :: Web -->
		{% assign web_priorities = site.priorities | where: "category", "web" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="web"
			name="Web"
			elements=web_priorities
		%}

		<!-- :: XR -->
		{% assign xr_priorities = site.priorities | where: "category", "xr" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="xr"
			name="XR"
			elements=xr_priorities
		%}

		<!-- Scripting -->
		{% assign scripting_priorities = site.priorities | where: "category", "scripting" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="1"
			id="scripting"
			name="Scripting"
			elements=scripting_priorities
		%}

		<!-- :: GDScript -->
		{% assign gdscript_priorities = site.priorities | where: "category", "gdscript" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="gdscript"
			name="GDScript"
			elements=gdscript_priorities
		%}

		<!-- :: .NET -->
		{% assign dotnet_priorities = site.priorities | where: "category", "dotnet" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="dotnet"
			name=".NET"
			elements=dotnet_priorities
		%}

		<!-- :: GDExtension -->
		{% assign gdextension_priorities = site.priorities | where: "category", "gdextension" | sort: "rank" %}
		{%
			include_relative _includes/category.html
			level="2"
			id="gdextension"
			name="GDExtension"
			elements=gdextension_priorities
		%}
	</div>
</div>

{% include footer.html %}
