---
layout: default
---

{% include header.html %}
{% include release-menu.html %}

<article id="release">
	{{ content }}
</article>

<style type="text/css">
@layer release {
	:root {
		--h2-font-size: clamp(1.5em, 4vw, 3em);
		--h3-font-size: clamp(1.3em, 3.5vw, 2.5em);
		--p-font-size: clamp(1em, 2vw, 1.5em);
	}

	#release {
		min-height: 100vh;
	}

	#release h2 {
		font-size: var(--h2-font-size);
		margin: calc(var(--h2-font-size) / 3) 0;
	}

	#release h3 {
		font-size: var(--h3-font-size);
		margin: calc(var(--h3-font-size) / 3) 0;
	}

	#release p {
		font-size: var(--p-font-size);
		margin: calc(var(--p-font-size) / 3) 0;
	}

	#release .button {
		padding: 1em 2em;
		background-color: var(--);
	}
}
</style>

<!-- AOS: Animate on scroll library. -->
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js" defer></script>
<script>
document.addEventListener("DOMContentLoaded", () => {
	AOS.init({
		easing: "ease-out-cubic",
		once: true
	});
});
</script>

{% include footer.html %}
