---
---

// Fixes the parsing of the unusual front matter / SCSS file.
*{};

// Priorities container.
.priorities-container {
	// i.e. "core", "rendering", or "physics"
	.priorities {
		.category {
			& > .container {
				.category-content {
					.element-list {
						.element {
							.element-main {
								.element-content {
									.element-details {
										.detail-block {
											&::before {
												margin-bottom: 1rem;
											}

											&.comment {
												&::before {
													content: "Comment";
												}
											}

											&.note {
												&::before {
													content: "Note";
												}
											}

											&.warning {
												&::before {
													content: "Warning";
												}
											}

											&.prs {
												&::before {
													content: "Pull requests";
												}
											}

											&.issues {
												&::before {
													content: "Issues";
												}
											}

											&.proposals {
												&::before {
													content: "Proposals";
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
